body{
    background-color: #626F47;
    display: flex;
    justify-content: center;
    align-items: center;
}

.heading-1{
    color: #FEFAE0;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: bold;
    font-size: 35px;
}

.wrapper{
    padding: 150px;
    border-radius: 25px;
    text-align: center;
    background-color: rgb(164, 180, 101);
}